.colors{
  --BG:#1E1E1F;
  --PRIMARY:#FFDB70;
  --LETTER-1: #FFF;
  --LETTER-2: #c2bcbc;

}
.container{
  border: 0.3px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  align-items: center;
  background-color:#1E1E1F;
  gap: 30px;
  height: 90vh;
  position: sticky;
  top: 20px;
  left: 0;
  bottom: 0;

}
.parentProfile{
  display: grid;
  grid-template-rows: 50% 20% 20%;
  align-items: center;
  justify-content: center;
  color: white;
  /* background-color: #e11f1f; */
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(42, 41, 41);
  gap: 15px;
}
.image{
  justify-self: center;
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #292929;
  border-radius: 10%;
}
.name{
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
}
.profession{
  letter-spacing: 1px;
  font-weight: 700;
  justify-self: center;
  padding: 5px;
  background-color: #c2bcbc;
  color: #1E1E1F;
  border-radius: 5px;
}
.profileImage{
  width: 50px;
  height: 50px;
}
.parentContact{
  display: grid;
  grid-template-rows: repeat(4,1fr);
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 1px;
}
.cardContact{
  display: flex;
  color: white;
  align-items: center;
  gap: 20px;
}
.icon{
  width: 50px;
  height: 50px;
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 8px;
  position: relative;
  color: #FFDB70;
  font-size: 16px;
  box-shadow: -1px -1px hwb(0 100% 0% / 0.1);
  background-color: #1E1E1F;
  
}
.data{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2px;
}
.key{
  color:#c2bcbc;
  font-size: 11px;
  letter-spacing: 2px;
}
.value{
  font-size: 14px;
}

